:root {
  --im-font-family: $display-font-family !important;

  --im-color: var(--bs-body-color) !important;
  --im-bg: var(--bs-gray-100) !important;

  --im-link-color: var(--bs-body-color) !important;
  --im-link-hover-color: var(--bs-body-color) !important;

  --im-btn-color: #fff !important;
  --im-btn-bg: var(--bs-primary) !important;
  --im-btn-hover-bg: var(--bs-primary) !important;
  --im-btn-active-box-shadow: none !important;

  --im-btn-s-color: #fff !important;
  --im-btn-s-bg: var(--bs-primary) !important;
  --im-btn-s-hover-bg: var(--bs-primary) !important;
  --im-btn-s-active-bg:var(--bs-primary) !important;

  --im-overlay-bg: transparent !important;
}
